:root{
    --fk-color: #78C1F3;
    --white-color: #ffff;
    --black-color: #000;
    --pk-color: #2daf94;;
    --hover-link-color: rgb(215, 215, 215);
    --snow-color: #FFFAFA;
    --white-smoke: #F5F5F5;
    --dimgray: rgb(105,105,105);
    --near-back: rgba(0, 0, 0, 0.5);
    --gray: #ccc;

}